.page {
    margin: 0 auto;
    max-width: min(880px, 68.75vw);
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: min(704px, 88vw);
  }
}

@media screen and (max-width: 767px) {
  .page {
    max-width: max(282px, 88.1vw);
  }  
}