.popup__container {
  width: 430px;
  height: 330px;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: clamp(282px, calc(282/320*100vw), 430px);
    height: clamp(322px, calc((282/320)/(322/320)*100vw), 330px);
  }
}